{% extends 'base_internal.html' %}
{% block content %}

{% load static %}

<style>

    .img-header {
        background-image: url("{% static "img/address.jpg" %}");
    }

    .header-cover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .address-content {
        margin: 80px 35px 40px 35px;
    }

    .profile-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    a {
        color: black;
    }

    #notice_list,
    .thead {
        font-family: 'Nanum Gothic', sans-serif;
    }

</style>

<script>
    function change_address() {
        document.getElementById("option4").style.color = 'white';
    }
    change_address();
</script>


<div class="address-container">
    <div class="img-header" style="color:white; margin-bottom: 30px;">
        <div class="header-content">
            <h3 class="header-title">
                MEMBER ADDRES
            </h3>
            <p class="header-text">
                피로그래밍 회원 주소록입니다.
            </p>
        </div>
        <div class="header-cover"></div>
    </div>
    <div class="address-content">
        <div class="row thead" style="margin:10px 10px 0px 10px;">
            <div class="col-1" style="text-align: center; padding:0.75rem; font-weight: bold;">기수</div>
            <div class="col-2" style="text-align: center; padding:0.75rem; font-weight: bold;">이름</div>
            <div class="col-2" style="text-align: center; padding:0.75rem; font-weight: bold;">연락처</div>
            <div class="col-3" style="text-align: center; padding:0.75rem; font-weight: bold;">직업</div>
            <div class="col-4" style="text-align: center; padding:0.75rem; font-weight: bold;">약력</div>
        </div>
        {% for address in address_list %}
        <div class="row" id="notice_list" style="margin:0px 10px; border-bottom: 0.5px solid #d6d6d6;">
            <div class="col-1" style="text-align: center; padding:0.75rem;">
                {{ address.piro_no }}기
            </div>
            <div class="col-2" style="text-align: center; padding:0.75rem;">
                <span style="margin-left: 10px;">
                    {% if address.user.img_profile %}
                    <img src="{{ address.user.img_profile.url }}"
                        style="border:1px solid #2C3E52; border-radius: 50%; width:20px; height: 20px" />
                    {% else %}
                    <img class="img_profile"
                        src="https://cdn4.iconfinder.com/data/icons/political-elections/50/48-512.png"
                        style="border:1px solid #2C3E52; border-radius: 50%; width:20px; height: 20px;" />
                    {% endif %}
                </span>
                <span style="margin-left: 5px;">
                    {{ address.user.name }}
                </span>
            </div>
            <div class="col-2" style="text-align: left; padding:0.75rem;">
                <div>
                    <i class="fas fa-mobile-alt" style="margin-left: 2px; margin-right: 4px;"></i>
                    {{ address.user.phone_no }}
                </div>
                <div>
                    <a href="mailto:{{ address.user.email }}">
                        <i class="fas fa-at" style="margin-right: 0px;"></i>
                        {{ address.user.email }}
                    </a>
                </div>
            </div>
            <div class="col-3" style="text-align: center; padding:0.75rem;">
                {{ address.current_work }}
            </div>
            <div class="col-4" style="text-align: left; padding:0.75rem;">
                <p style=" margin-left: 20px;">
                    {{ address.history|urlize }}
                </p>
            </div>
            <div style="display: inline-block; margin-left:auto; margin-right:0;">
                {% if request.user == address.user %}
                <a class="btn-mint" href="{% url "intranet:address_edit" address.pk %}" style="margin-right: 5px;">수정</a>
                <a class="btn-mint" href="{% url "intranet:address_delete" address.pk %}" onclick="return confirm('삭제하시겠습니까?');">삭제</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="text-right" style="margin-top:40px;">
            <a class="btn btn-mint" id="write_notice" href="{% url "intranet:address_new" %}" role="button">
                <i class="fas fa-pen" style="margin-right: 8px;"></i>
                주소록 등록하기
            </a>
        </div>
    </div>
</div>
{% endblock %}