{% extends 'base_internal.html' %}
{% block title %}
피로그래밍 - 회원주소록
{% endblock %}

{% block content %}

{% load static %}

<link href="https://fonts.googleapis.com/css?family=Advent+Pro|Dosis|Nanum+Gothic&display=swap" rel="stylesheet">

<style>
    /* header section */

    .address-header {
        background-image: url("{% static "img/addressbook.webp" %}");
        background-position: top center;
        background-size: 1500px;
        background-repeat: no-repeat;
        position: relative;
        height: 500px;
    }

    .address-header .header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, 0.8);
        z-index: 2;
    }

    .header-cover {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }


    /* table section */
    .address-content {
        margin: 80px 35px 40px 35px;
        /* border: solid 2px black; */
    }

    .profile-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    a {
        color: black;
    }

    a:hover {
        color: rgb(37, 204, 160);
    }

    #notice_list,
    .thead {
        font-family: 'Nanum Gothic', sans-serif;
    }

</style>
<script type="text/javascript">
    function viewDiv(idx) {
        if (idx != 0 && idx != 200){
            for (var i=1; i<{{ maxno }}; i++){
            $(".hello"+i).css("display", "none");
            }
            $(".hello"+idx).css("display", "");
        }
        else{
            for (var i=1; i<{{ maxno }}; i++){
            $(".hello"+i).css("display", "");
            }
        }
    }

    function selectIndex(selectObj) {
        var idx = selectObj.value;
        viewDiv(idx);
    }
</script>

<script>
    function change_address() {
        document.getElementById("option4").style.color = 'white';
    }
    change_address();
</script>


<div class="address-container">
    <div class="address-header" style="color:white; margin-bottom: 30px;">
        <div class="header-content">
            <h3 style="font-size: 60px; border-bottom: solid 1px; font-family: 'Dosis', sans-serif;">
                MEMBER ADDRES
            </h3>
            <p style="font-family: 'Nanum Gothic', sans-serif;">
                피로그래밍 참여 회원 주소록입니다.
            </p>
        </div>
        <div class="header-cover"></div>
    </div>
    <div class="address-content">
        <div style="margin:20px 0px 10px 0px;">
            <div class="portfolio-header">
                <select name="select" onchange="javascript:selectIndex(this)">
                    <option value="0" disabled selected>기수 선택</option>
                    <option value="200">전체 보기</option>
                    {% for i in range %}
                    <option value="{{ i }}">{{ i }}기</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row thead" style="margin:10px 10px 0px 10px;">
            <div class="col-1" style="text-align: center; padding:0.75rem; font-weight: bold;">기수</div>
            <div class="col-2" style="text-align: center; padding:0.75rem; font-weight: bold;">이름</div>
            <div class="col-2" style="text-align: center; padding:0.75rem; font-weight: bold;">연락처</div>
            <div class="col-3" style="text-align: center; padding:0.75rem; font-weight: bold;">직업</div>
            <div class="col-4" style="text-align: center; padding:0.75rem; font-weight: bold;">약력</div>
        </div>
        {% for address in address_list %}
        <div class="row hello{{ address.piro_no }}" id="notice_list" style="margin:0px 10px; border-bottom: 0.5px solid #d6d6d6;">
            <div class="col-1" style="text-align: center; padding:0.75rem;">
                {{ address.piro_no }}기
            </div>
            <div class="col-2" style="text-align: center; padding:0.75rem;">
                <span style="margin-left: 10px;">
                    {% if address.user.img_profile %}
                    <img src="{{ address.user.img_profile.url }}"
                        style="border:1px solid #2C3E52; border-radius: 50%; width:20px; height: 20px" />
                    {% else %}
                    <img class="img_profile"
                        src="https://cdn4.iconfinder.com/data/icons/political-elections/50/48-512.png"
                        style="border:1px solid #2C3E52; border-radius: 50%; width:20px; height: 20px;" />
                    {% endif %}
                </span>
                <span style="margin-left: 5px;">
                    {{ address.user.name }}
                </span>
            </div>
            <div class="col-2" style="text-align: left; padding:0.75rem;">
                <div>
                    <i class="fas fa-mobile-alt" style="margin-left: 2px; margin-right: 4px;"></i>
                    {{ address.user.phone_no }}
                </div>
                <div>
                    <a href="mailto:{{ address.user.email }}">
                        <i class="fas fa-at" style="margin-right: 0px;"></i>
                        {{ address.user.email }}
                    </a>
                </div>
            </div>
            <div class="col-3" style="text-align: center; padding:0.75rem;">
                {{ address.current_work }}
            </div>
            <div class="col-4" style="text-align: left; padding:0.75rem;">
                <p style="white-space: pre-wrap; margin-left: 20px;">{{ address.history|urlize }}</p>
            </div>
            <div style="display: inline-block; margin-left:auto; margin-right:0;">
                {% if request.user == address.user %}
                <a href="{% url "intranet:address_edit" address.pk %}" style="margin-right: 5px;">수정</a>
                <a href="{% url "intranet:address_delete" address.pk %}" onclick="return confirm('삭제하시겠습니까?');">삭제</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="text-left" style="margin-top:40px;">
            <a class="btn btn-mint" id="write_notice" href="{% url "intranet:address_new" %}" role="button">
                <i class="fas fa-pen" style="margin-right: 8px;"></i>
                주소록 등록하기
            </a>
        </div>
    </div>
</div>
{% endblock %}