{% extends 'base_internal.html' %}

{% block title %}
피로그래밍 - 주소록 추가하기
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<style>
    #rec_upld{
        background-color: #25CCA0; border: #25CCA0;
    }
    #rec_upld:hover{
        background-color: #2C3E52;
    }
    textarea.form-control{
    height: 150px;
    }

</style>
<script>
function change_address() {
    document.getElementById("option4").style.color = 'white';
}
change_address();
</script>
<div class="col-lg-7 col-md-8 col-11" style="margin:50px auto;">
    <h2>주소록 등록</h2>
    <small>기수, 이름, 전화번호와 이메일 주소는 회원가입시 등록된 정보가 자동 사용됩니다.</small>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <br>
            <div class="signup-form">
                {{ form.current_work |as_crispy_field }}
            </div>
            <div class="signup-form">
                {{ form.history|as_crispy_field }}
            </div>
            <br>
            <button type="submit" id="rec_upld" class="btn btn-primary">등록</button>
    </form>
</div>
{% else %}
<script>
    alert('접근 권한이 없는 페이지입니다.');
    window.location.href = "{% url "home:home" %}";
</script>
{% endif %}

{% endblock %}