{% extends 'base_internal.html' %}

{% block title %}
피로그래밍 - 질문하기
{% endblock %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<style>

    #rec_upld{
        color: #57a0d3; 
        border: solid 1px #57a0d3;
    }

    #rec_upld:hover{
        background-color: #57a0d3;
        color:white;
    }

    .django-ckeditor-widget{
        width: 100%;
    }

    #cke_id_body{
        width: 100%;
    }

</style>

<script>
function change_q() {
    document.getElementById("option2").style.color = 'white';
}
change_q();
</script>

<!-- *********제목부분 칸 가로길이 문제************-->

<div class="col-sm-10" style="margin:50px auto;">
    <h2 class="create-title">질문하기</h2>
    <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
            <div class="signup-form nanum">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="signup-form nanum">
                {{ form.body | safe }}
                {{ form.media }}
            </div>
            <br>
            <div class="signup-form nanum">
                <div>
                    <label class="requiredField nanum">
                    태그(한 가지 선택)
                    <span class="asteriskField">*</span>
                    </label>
                </div>
                <select class="custom-select" name="tag" style="width: 30%">
                    <option value="all" selected>선택하기</option>
                    <optgroup label="웹 개발">
                        <option value="HTML/ CSS">HTML/ CSS</option>
                        <option value="Javascript/ jQuery/ Ajax">Javascript/ jQuery/ Ajax</option>
                        <option value="Django">Django</option>
                        <option value="Spring">Spring</option>
                        <option value="Node.js">Node.js</option>
                        <option value="PHP">PHP</option>
                    </optgroup>
                        <optgroup label="프로그래밍">
                        <option value="C/ C#/ C++">C/ C#/ C++</option>
                        <option value="Python">Python</option>
                        <option value="Java">Java</option>
                    </optgroup>
                        <optgroup label="기타">
                        <option value="창업">창업</option>
                        <option value="머신러닝/ AI">머신러닝/ AI</option>
                        <option value="컴퓨터">컴퓨터</option>
                        <option value="프로토콜">프로토콜</option>
                        <option value="기타">기타</option>
                    </optgroup>
                </select>
            </div>
        <br>
        <input type="submit" value="등록하기" id= "rec_upld" class="btn" />
    </form>
</div>
{% else %}
<script>
    alert('접근 권한이 없는 페이지입니다.');
    window.location.href = "{% url "home:home" %}";

</script>
{% endif %}

{% endblock %}