{% extends 'base_internal.html' %}

{% block title %}
피로그래밍 - 사진
{% endblock %}

{% block content %}

{% load static %}

<style>

    .img-header {
        background-image: url("{% static "img/photo.jpg" %}");
    }

    .header-cover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .album-title {
        text-align: center;
        font-weight: 500;
    }
    .album-text{
        text-align: center;
        /* font-size: 30px; */
    }

    .album-date {
        text-align: end;
    }

    .album-content {
        padding: 70px 70px 50px 70px;
    }

    .photo-wrap {
        text-align: center;
        padding: 20px 0px 40px 0px;
    }

    .photo-set {
        height: 250px;
        width: 300px;
        border-radius: 3%;
        margin-right: 15px;
        margin-bottom: 15px;
        object-fit: cover;
    }

    .album-footer {
        text-align: end;
    }

    #polaroid img:hover {
        opacity: 0.3;
        -webkit-filter: grayscale(80%);
        filter: grayscale(80%);
    }

</style>
<script>
function change_photo() {
    document.getElementById("option3").style.color = 'white';
}
change_photo();
</script>
<div class="album-container">
    <div class="img-header">
        <div class="header-content">
            <h3 class="header-title">
                PHOTO
            </h3>
            <span>
                <p class="nanum" style="font-size: 25px;">{{photobook.title}}</p>
                <p class="header-text">{{photobook.text}}</p>
            </span>
        </div>
        <div class="header-cover"></div>
    </div>
    <div class="album-content">
        <div style="text-align: center"><strong class="nanum" style="font-size: 1.5rem;">{{photobook.title}}</strong></div>
        <div class="heading-line" style="height: 2px"></div>
        <div class="photo-wrap" id="polaroid">

            {% for img in images %}
            <a href="{{img.image.url}}" style="text-decoration: none;" data-lightbox="roadtrip"
               data-title="{{photobook.title}}">
                <img class="photo-set" src="{{img.image.url}}" alt="">
            </a>
            {% endfor %}
        </div>
        <div style="text-align: right;">
                <a href="{% url "photobook:update_book" photobook.pk %}" class="btn-sky">
                    수정</a>
                    &nbsp&nbsp
                <a href="{% url "photobook:delete_book" photobook.pk %}" onclick="return confirm('삭제하시겠습니까?');"
                   class="btn-sky">
                   삭제</a>&nbsp&nbsp
                <a class="btn-sky" href="{% url 'photobook:list_book' %}">
                    목록으로
                </a>
        </div>
    </div>
</div>

<script src="{% static "js/lightbox-plus-jquery.js" %}"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true,
        'maxWidth': 600,
        'maxHeight': 600,
    })
</script>

{% endblock %}