{% extends 'base_internal.html' %}

{% block title %}
피로그래밍 - 사진
{% endblock %}

{% block content %}

{% load static %}

<link href="https://fonts.googleapis.com/css?family=Advent+Pro|Dosis|Nanum+Gothic&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/lightbox.css" %}">

<style>
    .album-header {
        background-image: url("{% static "img/photo.jpeg" %}");
        background-position: top center;
        background-size: 1500px;
        background-repeat: no-repeat;
        position: relative;
        height: 500px;
    }

    .album-header .header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        color: rgba(255, 255, 255, 0.8);
        z-index: 2;
    }

    .header-cover {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    .album-title {
        text-align: center;
        font-weight: 500;
    }
    .album-text{
        text-align: center;
        /* font-size: 30px; */
    }

    .album-date {
        text-align: end;
    }


    .album-content {
        padding: 100px 70px 50px 70px;
    }
    .photo-wrap {
        text-align: center;
        padding: 20px 0px 40px 0px;
    }

    .photo-set {
        height: 250px;
        width: 300px;
        border-radius: 3%;
    }

    .album-footer {
        text-align: end;
    }

    #polaroid img:hover {
        opacity: 0.3;
        -webkit-filter: grayscale(70%);
        filter: grayscale(70%);
    }

    .photobook-btn {
        color: black;
        font-size: 20px;
        text-decoration: none;
    }

    .photobook-btn:hover{
        border-bottom:solid 1px #25CCA0;
        color: #25CCA0;
        text-decoration: none;
    }
</style>
<script>
function change_photo() {
    document.getElementById("option3").style.color = 'white';
}
change_photo();
</script>
<div class="album-container">
    <div class="album-header">
        <div class="header-content">
            <h3 style="font-size: 60px; border-bottom: solid 1px; font-family: 'Dosis', sans-serif;">
                PHOTO
            </h3>
            <span style="font-family: 'Nanum Gothic', sans-serif;">
                <p style="font-size: 25px;">{{photobook.title}}</p>
                <p style="font-size: 15px;">{{photobook.text}}</p>
            </span>
        </div>
        <div class="header-cover"></div>
    </div>
    <div class="album-content">
        <div class="photo-wrap" id="polaroid">
            {% for img in images %}
            <a href="{{img.image.url}}" style="text-decoration: none;" data-lightbox="roadtrip"
               data-title="{{photobook.title}}">
                <img class="photo-set" src="{{img.image.url}}" alt="">
            </a>
            {% endfor %}
        </div>
        <div style="text-align: right;">
                <a href="{% url "photobook:update_book" photobook.pk %}" class="photobook-btn">
                    수정
                </a>&nbsp&nbsp
                <a href="{% url "photobook:delete_book" photobook.pk %}" onclick="return confirm('삭제하시겠습니까?');"
                   class="photobook-btn">
                   삭제
                </a>&nbsp&nbsp
                <a href="{% url 'photobook:list_book' %}" class="photobook-btn">
                    목록으로
                </a>
        </div>
    </div>
</div>

<script src="{% static "js/lightbox-plus-jquery.js" %}"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true,
        'maxWidth': 600,
        'maxHeight': 600,
    })
</script>

{% endblock %}