{% extends 'base_internal.html' %}

{% block title %}
피로그래밍 - 사진첩
{% endblock %}

{% block content %}

{% load static %}

<link href="https://fonts.googleapis.com/css?family=Advent+Pro|Dosis|Nanum+Gothic&display=swap" rel="stylesheet">

<style>

    .photo-header {
        background-image: url("{% static "img/photo.jpg" %}");
        background-position: top center;
        background-size: 1500px;
        background-repeat: no-repeat;
        position: relative;
        height: 500px;
    }

    .photo-header .header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, 0.8);
        z-index: 2;
    }
  .header-cover {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    .photo-detail {
        padding: 80px 20px 80px 20px;
        text-align: center;
    }

    .photo-book {
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
    }
  .snip1432 {
        display: inline-block;
        position: relative;
        overflow: hidden;
        max-width: 300px;
        background: #000000;
        float: left;
        text-align: center;
        margin: 10px 10px;
        border-radius: 18px;
        margin: 25px;
    }

    .snip1432 > a{
        color:white;
    }

    .snip1432 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }
 .snip1432 img {
        max-width: 100%;
        vertical-align: top;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
        min-width: 300px;
        min-height: 300px;

    }

    .snip1432 figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  .snip1432 figcaption>div {
        height: 80%;
        overflow: hidden;
        width: 100%;
        position: relative;
    }
  .snip1432 p, .snip1432 h3 {
        /* margin: 0; */
        position: absolute;
        /* left: 0; */
        padding: 0 20px;
        text-transform: uppercase;
        font-family: 'Nanum Gothic', sans-serif;
    }

    .snip1432 h3 {
        font-size: 1em;
        bottom: 0;
    }
  .snip1432 h3:nth-of-type(2) {
        opacity: 0;
        -webkit-transform: translateY(150%);
        transform: translateY(150%);
    }

    .snip1432:hover img{
        opacity: 0.5;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
  .snip1432:hover figcaption h3:first-of-type{
        -webkit-transform: translateY(150%);
        transform: translateY(150%);
        opacity: 0;
    }

    .snip1432:hover figcaption h3:nth-of-type(2){
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

</style>
<script>
function change_photo() {
    document.getElementById("option3").style.color = 'white';
}
change_photo();
</script>
<div class="photo-container">
    <div class="photo-header">
        <div class="header-content">
            <h3 class="header-title">PHOTO BOOK</h3>
            <p class="header-text">피로그래밍 활동은 매주 월, 화, 목 일정으로 진행됩니다.
            <br>포토북에서 지난기수와 현재기수의 활동 사진을 확인해보세요!
            <br>포토북을 클릭하시면 더 많은 사진을 보실 수 있습니다!
            </p>
        </div>
        <div class="header-cover"></div>
    </div>
    <div class="photo-content" style="margin-top: 40px;">
        <div class="photo-book">
            {% for photobook in photobooks %}
            <div class="snip1432">
                <a href="{% url 'photobook:detail_book' photobook.pk %}">
                    <img src="{{photobook.thumbnail.url}}" alt="...">
                    <figcaption>
                        <div>
                            <h3></h3>
                            <h3>더 많은 사진 보기</h3>
                        </div>
                        <div>
                            <p>{{photobook.title}} (사진 {{photobook.images_set.all|length}}개)</p>
                        </div>
                    </figcaption>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div style="clear:both;"></div>
    {% if user.is_admin %}
    <div class="text-left" style="margin:10px 0px 40px 38px">
        <a class="btn btn-sky" style="margin-right: 60px;"
            href="{% url "photobook:create_book" %}" role="button">
            <i class="fas fa-pen" style="margin-right: 8px;"></i>사진첩 만들기
        </a>
    </div>
    {% endif %}
</div>
</div>



{% endblock %}