{% extends 'base_internal.html' %}

{% block title %}
피로그래밍 - 사진
{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static "css/lightbox.css" %}">

<style>
    
    .album-content {
        padding: 50px;
    }

    .album-header {
        padding: 50px 30px 30px 30px;
        background-image: url("{% static "img/polaroid.png" %}");
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
        opacity: 0.7;
        color: black;
        background-color: #F9F9F9;
    }

    .album-title {
        text-align: center;
        background-color: rgba(37, 204, 160, 0.3);
        font-weight:500;
    }

    .album-date {
        text-align: end;
    }

    .photo-wrap{
        text-align: center;
    }
    .photo-set {
        height: 250px;
        width: 250px;
        margin: 10px;
        border-radius: 3%;
    }

    .album-footer {
        text-align: end;
    }

    #polaroid img:hover{
        opacity: 0.3;
        -webkit-filter: grayscale(70%);
        filter: grayscale(70%);
    }
</style>
<script>
function change_photo() {
    document.getElementById("option3").style.color = 'white';
}
change_photo();
</script>
<div class="album-container">
    <div class="album-header">
        <h3>피로그래밍 활동</h3>
        <p>주차별 활동을 사진으로 확인하세요!</p>
    </div>
    <div class="album-content">
        <table class="table">
            <thead>
                <tr class="album-title">
                    <td style="font-size: 20px; font-family: 'Do Hyeon'">{{photobook.title}}</td>
                </tr>
                <tr style="font-family: 'Noto Sans KR', Sans-Serif;">
                    <td>{{photobook.text}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="photo-wrap" id="polaroid">
                            {% for img in images %}
                                <a href="{{img.image.url}}" style="text-decoration: none;" data-lightbox="roadtrip"
                                    data-title="{{photobook.title}}">
                                    <img class="photo-set" src="{{img.image.url}}" alt="" style="border: 0.5px solid navajowhite">
                                </a>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="album-footer">
                <tr style="text-align: right;">
                    <td><a href="{% url "photobook:update_book" photobook.pk %}">수정 </a><a href="{% url "photobook:delete_book" photobook.pk %}" onclick="return confirm('삭제하시겠습니까?');"> 삭제</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'photobook:list_book' %}" class="btn btn-outline-secondary">목록으로</a></td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<script src="{% static "js/lightbox-plus-jquery.js" %}"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true,
        'maxWidth': 600,
        'maxHeight': 600,
    })
</script>

{% endblock %}