{% extends 'base.html' %}

{% block title %}
피로그래밍 - 비밀번호 변경
{% endblock %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    #pass_save{
        color: #25CCA0; 
        border: solid 1px #25CCA0;
    }
    #pass_save:hover{
        background-color: #25CCA0;
        color:white;
    }
</style>
<script>
    function change_acct() {
    document.getElementById("option1").href="{% url "home:home" %}#about";
    document.getElementById("option2").href="{% url "home:home" %}#activity";
    document.getElementById("option3").href="{% url "home:portfolio" %}";
    document.getElementById("option4").href="{% url "home:recruit" %}";
}

    change_acct();
</script>
    <div class="col-xl-5 col-lg-5 col-md-9 col-sm-9 col-xs-11" style="color:black; margin:50px auto;">
        <div style="background-color: white;border: #25CCA0 solid 5px; padding:20px; border-radius: 20px; box-shadow: 3px 3px 20px 1px darkgray;">
            <div style="text-align: center;">
                <strong style="color: #25CCA0; font-family: 'Do Hyeon', sans-serif; font-size: 40px;">비밀번호 변경</strong>
            </div>
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div style="padding-bottom: 5px"><br/>
                        <div class="signup-form">
                            {{ form.old_password|as_crispy_field }}
                        </div>
                        <div class="signup-form">
                            {{ form.new_password1|as_crispy_field }}
                        </div>
                        <div class="signup-form">
                            {{ form.new_password2|as_crispy_field }}
                        </div>
                    </div>
                    <input type="submit" class="btn" id="pass_save" value="저장하기">
                </form>
            </div>
        </div>
    </div>
{% endblock %}