{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
피로그래밍 - 프로필 수정
{% endblock %}

{% block content %}
<style>
    #div_id_img_profile label{
        display: none;
    }
    #img_profile-clear_id{
        display:none
    }
    #prf_save{
        color: #25CCA0; 
        border: solid 1px #25CCA0;
    }
    #prf_save:hover{
        background-color: #25CCA0;
        color:white;
    }

</style>
<script>
    function change_acct() {
    document.getElementById("option1").href="{% url "home:home" %}#about";
    document.getElementById("option2").href="{% url "home:home" %}#activity";
    document.getElementById("option3").href="{% url "home:portfolio" %}";
    document.getElementById("option4").href="{% url "home:recruit" %}";
}

    change_acct();
</script>
<div class="col-xl-7 col-lg-7 col-md-9 col-sm-11 col-xs-12" style="color:black; margin:50px auto;">
    <div style="background-color: white;border: #25CCA0 solid 5px; padding:20px; border-radius: 20px; box-shadow: 3px 3px 20px 1px darkgray;">
        <div class="container">
                <strong style="color: #25CCA0; font-family: 'Do Hyeon', sans-serif; font-size: 40px;">프로필 정보 수정</strong>
                <br>
                <br>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                            {% if user.img_profile %}
                                <div><img src="{{ user.img_profile.url }}"style="width:150px; height: 150px"/></div><br/>
                            {% else %}
                                <div><img src="https://cdn4.iconfinder.com/data/icons/political-elections/50/48-512.png" style="width:150px; height: 150px"/></div><br/>
                            {% endif %}
                            <div>{{ profileform.img_profile|as_crispy_field }}</div>
                            <div>{{ profileform.username|as_crispy_field }}</div>
                            <div>{{ profileform.email|as_crispy_field }}</div>
                            <div>{{ profileform.phone_no|as_crispy_field }}</div>
                            <div>{{ profileform.github|as_crispy_field }}</div>
                            <div>
                                <input type="submit" class="btn id="prf_save" value="저장하기">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

