{% extends 'base_internal.html' %}

{% block title %}
피로그래밍 - 사진첩 만들기
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}

<style>

    #rec_upld{
        color: #57a0d3; 
        border: solid 1px #57a0d3;
    }

    #rec_upld:hover{
        background-color: #57a0d3;
        color:white;
    }

    textarea.form-control{
        height: 350px;
    }
    
    .clearablefileinput{
        height:45px;
    }

    .nanum {
        margin-bottom: 25px;
    }

</style>
<script>
function change_infoboard() {
    document.getElementById("option1").style.color = 'white';
}
change_infoboard();
</script>
<div class="col-lg-7 col-md-8 col-11" style="margin:50px auto;">
    <h2 class="create-title">게시물 등록하기</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="signup-form nanum">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="signup-form nanum">
                {{ form.text|as_crispy_field }}
            </div>
            <hr/>
            <div>
                <div>
                    <label class="requiredField nanum">
                        파일 선택 (여러 파일 선택 가능)<span class="asteriskField nanum">*</span>
                    </label>
                </div>
                <input type="file" id="files" name="files" multiple />
                <output id="list"></output>
            </div>
            <br>
            <button type="submit" id="rec_upld" class="btn">등록</button>
    </form>
</div>
{% else %}
<script>
    alert('접근 권한이 없는 페이지입니다.');
    window.location.href = "{% url "home:home" %}";
</script>
{% endif %}

{% endblock %}