<div id="foot">
    <div class="footer-buffer"></div>
    <div class="contact">
        <a href="https://www.facebook.com/p.rogramming3k/" target="_blank">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="mailto:pirogramming@gmail.com">
            <i class="fas fa-envelope fa-2x"></i>
        </a>
    </div>
    <footer class="container-fluid d-flex flex-column justify-content-center">
        <div class="row d-flex justify-content-center">
            &copy피로그래밍 | 회장 : 정성모 | 연락처: 010-1234-5678
        </div>
        <div class="row mt-1 d-flex justify-content-center" style="margin-bottom: 1%">
            서울특별시 관악구 관악로 1, 서울대학교 벤처경영 교육 및 연구 동아리
        </div>
    </footer>
</div>