{% load staticfiles %}
<nav class="navbar navbar-expand-md navbar-dark" id="navbar" style="padding: 1%; background-color: #25CCA0;">
    <div class="navbar-header">
        <a class="navbar-logo" href="{% url "intranet:mainscreen" %}">
            <img src="{% static 'img/piro_logo_2.png' %}" alt="piro_logo" style="width:auto; height: 40px; border:0px;">
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="option1" href="{% url "infoboard:list_info" %}">정보게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "intranet:qna" %}" id="option2">질문게시판 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "photobook:list_book" %}" id="option3">사진첩 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "intranet:address_list" %}" id="option4">회원주소록 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "home:home" %}" id="option5">홈페이지 </a>
            </li>
            {% if user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "money:check_money" %}" id="option6">보증금 관리 </a>
                </li>
            {% endif %}

        </ul>
        <ul class="nav navbar-nav navbar-right" id="sign-up">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url "accounts:logout" %}"><i
                        class="fas fa-sign-out-alt"></i>LOGOUT</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url "accounts:signup" %}"><i class="fas fa-user"></i>SIGN
                    UP</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "accounts:login" %}"><i
                        class="fas fa-sign-in-alt"></i>LOGIN</a></li>
            {% endif %}
        </ul>
    </div>
</nav>